*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background: peachpuff;
    display: flex;
    align-content: center;
    justify-content: center;
}