*{
    margin: 0;
    padding: 0;
}

.background{
 background-image: linear-gradient(45deg, black, rgb(20, 220, 189));
 height: 100vh;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;  
}

.calculator{
    position: absolute;
    background-color: hotpink;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    padding-top: 45px;

}

.btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    color: white;
    border: transparent;
    margin: 3px;
}

.btn:hover{
   background-color: black;
}

#display{
background-color: #fff;
width: 230px;
height: 45px;
margin-bottom: 15px;
margin-left: 2px;
font-size: 40px;
color: black;
text-align: right;
padding: 5px;
}